.main-section {
  background-color: #ddd;
  height: 1000px;
  padding: 20px;
}

.navbar-collapse {
  background-color: #d8b8fa;
}

.container-fluid {
  background-color: #d8b8fa;
}

h3{
  text-align: center;
}

.container-fluid .chicken-card{
  margin: 20px;
}

.menu-card {
  min-height: 300px;
  margin-bottom: 30px;
  margin-top: 30px;
}
